/source/repos/TimeSheet/.vs/TimeSheet/DesignTimeBuild/*.v2
/source/repos/TimeSheet/.vs/TimeSheet/v17/*.suo
/source/repos/TimeSheet/.vs/TimeSheet/v17/*.bin
/source/repos/TimeSheet/DataAccess/obj/*.json
/source/repos/TimeSheet/DataAccess/obj/*.props
/source/repos/TimeSheet/DataAccess/obj/*.targets
/source/repos/TimeSheet/DataAccess/obj/Debug/net5.0/*.cs
/source/repos/TimeSheet/DataAccess/obj/Debug/net5.0/*.cache
/source/repos/TimeSheet/DataAccess/obj/Debug/net5.0/*.BuildWithSkipAnalyzers
/source/repos/TimeSheet/DataAccess/obj/Debug/net5.0/*.txt
/source/repos/TimeSheet/TimeSheet/obj/Debug/net6.0/*.cs
/source/repos/TimeSheet/TimeSheet/obj/Debug/net6.0/*.cache
/source/repos/TimeSheet/TimeSheet/obj/Debug/net6.0/*.BuildWithSkipAnalyzers
/source/repos/TimeSheet/TimeSheet/obj/Debug/net6.0/*.txt
/source/repos/TimeSheet/TimeSheet/obj/Debug/net6.0/*.exe
/source/repos/TimeSheet/TimeSheet/obj/Debug/net6.0/*.json
/source/repos/TimeSheet/TimeSheet/obj/*.json
/source/repos/TimeSheet/TimeSheet/obj/*.props
/source/repos/TimeSheet/TimeSheet/obj/*.targets
/source/repos/TimeSheet/TimeSheet/obj/*.sentinel
