@{
    ViewData["Title"] = "Home Page";
}
<div>
    <ejs-calendar id="calendar"></ejs-calendar>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps ASDASDASD ASP.NET Core</a>.</p>
</div>
<ejs-schedule id="schedule" height="650px" selectedDate="new DateTime(2019, 1, 10)"></ejs-schedule>
