@{
    ViewData["Title"] = "Home Page";
}


     

                <div class="col-lg-12 control-section">
                    <div class="content-wrapper" style="max-width: 100%">
                        @if(this.User.Identity.IsAuthenticated)
                        {

                        <div class="row">
                            <div class="col-xs-9 col-sm-9 col-lg-9 col-md-9 border">
                                <p>Proximo bloco disponivel</p>
                                <p> <h3>Amanhã está disponivel as 14 : 00  </h3> 2021-03-08 15:00  </p>

                                <button>Criar Registo</button>

                            </div>
                            <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3 border">
                                <p>Serviços realizados</p>
                                <p> <h3> esta semana <strong style="color:green">25 </strong></h3>🔼</p>
                                <p>Semana passada <strong>12</strong></p>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-9 col-sm-9 col-lg-9 col-md-9 border" style=" margin-top:10px">

                                <div class="control-section">

                                    <ejs-grid id="Grid" allowPaging="true">
                                        <e-grid-pagesettings pageCount="5"></e-grid-pagesettings>
                                        <e-grid-columns>
                                            <e-grid-column headerText="Cliente"></e-grid-column>
                                            <e-grid-column headerText="Tipo Serviço"></e-grid-column>
                                            <e-grid-column headerText="Data Hora"></e-grid-column>
                                            <e-grid-column headerText="Faltam"></e-grid-column>



                                        </e-grid-columns>
                                    </ejs-grid>

                                </div>


                            </div>
                            <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3 border">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-9 col-sm-9 col-lg-9 col-md-9 border">
                            </div>
                            <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3 border">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-9 col-sm-9 col-lg-9 col-md-9 border">
                            </div>
                            <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3 border">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-9 col-sm-9 col-lg-9 col-md-9 border">
                            </div>
                            <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3 border">
                            </div>
                        </div>

                        }else{
                        <p>Regista-te :)</p>
                        
                        <img style=" height:100%; width:100%" src="~/image/Maquilhar.jpg" />

                        }
                    </div>

                </div>


<script type="text/javascript">


    var x = document.getElementById("demo");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        x.innerHTML = "Latitude: " + position.coords.latitude +
            "<br>Longitude: " + position.coords.longitude;
    }

</script>
