
<style>

    .nav-itemcostum{

        margin-right:10px;
        margin-left:10px;
        font-size:x-large

    }

</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TimeSheet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Syncfusion Essential JS 2 Styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/tailwind.css" />
   
    <!-- Syncfusion Essential JS 2 Scripts -->
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @if (this.User.Identity.IsAuthenticated)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> @this.User.Identity.Name.ToString()</a>
                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> </a>
                }

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (this.User.Identity.IsAuthenticated)
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item nav-itemcostum ">
                                <a class="nav-link text-dark navbar-dark " asp-area="" asp-controller="Home" asp-action="Index"><p>🏠</p></a>
                            </li>
                      
                            <li class="nav-item nav-itemcostum">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Clientes" asp-action="Index">😍 </a>
                            </li>

                            <li class="nav-item nav-itemcostum">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Localizacaos" asp-action="Index">📍</a>
                            </li>
                            <li class="nav-item nav-itemcostum">
                                <a class="nav-link text-dark" asp-area="" asp-controller="TipoServicoes" asp-action="Index">🛠</a>
                            </li>
                            <li class="nav-item nav-itemcostum">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Colaboradors" asp-action="Index">🤩</a>
                            </li>
                            <li class="nav-item nav-itemcostum">

                            </li>
                        </ul>
                    </div>
                }
                else
                {


                    <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="facebook-login">   <img style="height:25px; width:150px" src="~/image/entrarFacebook.png" /></a>
                }
            </div>
        </nav>
    </header>
    <div class="container">
     

            @RenderBody()
            <!-- Syncfusion Essential JS 2 ScriptManager -->
            <ejs-scripts></ejs-scripts>
            @RenderSection("ControlsSection", required: false)
       
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - TimeSheet - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- Syncfusion Essential JS 2 ScriptManager -->
    <ejs-scripts></ejs-scripts>
</body>
</html>
